@charset "UTF-8";
*{
    box-sizing: border-box;
}



#galeria{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items:  stretch;
}
button{
    flex: 0 0 1%;
}
#nagyKep{
    width: 400px;
    flex:0 0 98%;

}
.kisKepek{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.kisKepek img{
    border: 1px solid black;
    border-radius: 4%;
    padding: 7px;
    
    width: 200px;
    flex: 0 0 33%;
}