@charset "UTF-8";
*{
    box-sizing: border-box;
}

main{
    margin: auto;
    max-width: 1200px;
    border: 1px solid black;
}


section{
    display: flex;
    flex-wrap: wrap;
    align-items:  stretch;
    justify-content: flex-start;
}
button{
    width: 2%;
}
#nagykep{
    width: 96%;
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article img{
    border: 1px solid black;
    border-radius: 4%;
    padding: 7px;
    width: 33%;
}